.footer-section {
  background-color: #020d18;
  padding: 15px 0;
 /* margin-top: 50px;*/
  /*border-top: 1px solid rgba(255, 255, 255, 0.05);*/
}

.footer-container p {
  margin: 0;
  color: #bfc9d4;
  font-size: 14px;
}

.back-to-top-btn {
  background: none;
  border: none;
  color: #bfc9d4;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.back-to-top-btn:hover {
  color: #00bfff;
}